/* ----> work sans font <---- */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* ----> utilities <---- */

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.primary_color {
    color: #131313;
}

.secondary_color {
    color: #727272;
}

.primary_font {
    font-weight: 700;
    font-size: 45px;
}

.secondary_font {
    font-weight: 400;
    font-size: 16px;
}

.primary_button {
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 24px;
}

/* ----> Header Styles <---- */
.header_container {
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;

}

.header_title {
    margin: 50px 0 100px 120px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 63px 120px 100px 0;
}

nav ul li {
    margin-left: 40px;
}

.banner {
    text-align: center;
}

.banner_title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 32px;
}

.banner_description {
    margin-bottom: 32px;
}

.banner_button {
    margin-bottom: 50px;
}

.header_container .banner img {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 45px;
    border-radius: 8px;
}

/* ----> feature section styles */
.feature {
    display: flex;
    gap: 75px;
}

.feature_image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
    margin: 85px 0 0 130px;
}

.feature_intro {
    margin: 287px 130px 0 0;
}

.feature_title {
    margin-bottom: 24px;
}

.feature_intro_descripiton {
    margin-bottom: 32px;
}

/* ----> feature details section */
.conatianer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.feature_details{
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-top: 130px;
}
.line {
    border-left: 5px solid #FF900E;
}
.feature_details_title{
    margin-left: 21px;
    margin-bottom: 24px;
}

.feature_details_description{
    margin-bottom: 30px;
}
.list_title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}

.feature_list_info{
    padding: 30px 42px 30px 30px;
    margin-bottom: 15px;
    box-shadow: 0.1px 0.1px 2px #888888;
}

.feature_details_image{
    margin-bottom: 50px;
}